



@media (max-width:900px) {
    .services_blocks > p {
        width: 90%;
    }
}

@media (max-width:750px) {
    /* шапка */
    .nav_left {
        display: none;
    }
    .nav_right {
        font-size: 12px;
    }
    .img_burger {
        display: block;
    }
    .nav-menu {
        margin: 0 auto;
    }
    .btn-lang {
        display: none;
    } 

    /* секция1 */

    .section1 {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .section1_img-girl {
        margin-left: 0;
    }
    .Desc {
        width: 100%;
        max-width: 100%;
    }
    .girl-wrapper {
        width: 100%;
        max-width: 400px;
    }
    .section2_services {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 40px;
    }
    .services_blocks > p {
        width: 70%;
    }
}



