





@media (max-width:500px) {
    /* шапка */
    .nav_left {
        display: none;
    }
    .nav_right {
        font-size: clamp(8,3vw,16px);
    }
    .img_burger {
        display: block;
    }
    .nav-menu {
        margin: 0 auto;
    } 
    /* секция1 */

    .section1 {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .section1_img-girl {
        margin-left: 0;
    }
    .Desc {
        width: 100%;
        max-width: 100%;
    }
    .girl-wrapper {
        width: 100%;
        max-width: 400px;
    }
}